@font-face {
    font-family: 'RobotoSlab-Regular';
    src:url(C:\Users\Asus\Desktop\web\fonts\RobotoSlab-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoSlab-Regular';
    src:url(C:\Users\Asus\Desktop\web\fonts\RobotoSlab-Regular.ttf) format('truetype');
}
#grad {
	background-image: linear-gradient(to right, rgba(144, 250, 232, 0.308), rgb(64, 66, 148));
  }
body {
	font-size: 100%;
	font-family: 'RobotoSlab-Regular';
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(141, 77, 245);
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: rgb(184, 250, 99);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  li a:hover {
	background-color: #111;
  }
  div {
	background: rgba(209, 245, 248, 0.3)
  }
  .header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
  }
  .topnav {
	overflow: hidden;
	background-color: #333;
  }
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  .footer {
	background-color: #F1F1F1;
	text-align: center;
	padding: 10px;
  }
  body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.w3-sidebar {width: 120px;background: #222;}

#main {margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}
ul.a {
	list-style-type: circle;
  }
  
  ul.b {
	list-style-type: square;
  }
  
  ol.c {
	list-style-type: upper-roman;
  }
  
  ol.d {
	list-style-type: lower-alpha;
  }